/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #4E9657;
	padding: 0.5%;
	margin-left: 1%;
	font-size: 3em;
}

/* Style for the nav element */
nav {
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #4E9657;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}

/* Style for main */
main {
	padding: 1em;
	background-color: #4E9657;
}

section {
	background-color: white;
	color: #4E9657;
	padding: 1em;
	margin-top: 2px;
}

article {
	color: black;
	border-top: 2px solid #244629;
	padding: 1em;
	margin-top: 2px;
}

aside {
	border-radius: 2em;
	background-color: #4E9657;
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 1em;
	margin-top: 2px;
}

footer {
	text-align: center;
	font-size: 0.70em;
}

/* Style for the table */
h3 {
	text-align: center;
}

table {
	width: 100%;
}

td,
th {
	border: 1px solid black;
}