/* Robert Sabo 4/22/2022 */
/**********************/
/* Mobile Media Query */

body { 
	background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
	background-image: url('../images/yogamobile.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	display: none;
}

header { 
	background-color: #9BC1C2; 
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
    font-weight: bold; 
}

nav > ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main > ul {
	list-style-image: url('../images/yogabullet.png');
	margin-left: 3em;
}

.schedule {
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	margin-bottom: .5em;
}

.schedule tbody tr td{
	border: 1px solid black;
	text-align: center;
}

address {
	margin-bottom: .5em;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
}


/**********************/
/* Tablet Media Query */
@media screen and (min-width: 641px) {
	img {
		float:right;
		display: inline;
	}

	header {
		background-color: #9BC1C2; 
		background-image: url('../images/lilyheader.jpg'); 
		background-position: right;
		background-repeat: no-repeat;
	}

	nav ul li{
		display: inline;
	}

	body {
		background-color: #F5F5F5;
    	color: #3F2860;
    	font-family: Verdana, Arial, sans-serif;
		background-image: none;
	}
}